= form_for @match do |f|
  -if @match.errors.any?
    #error_explanation
      %h2= "#{pluralize(@match.errors.count, "error")} prohibited this match from being saved:"
      %ul
        - @match.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :visitor_id
    = f.number_field :visitor_id
  .field
    = f.label :local_id
    = f.number_field :local_id
  .field
    = f.label :referee_id
    = f.number_field :referee_id
  .field
    = f.label :stadium
    = f.text_field :stadium
  .field
    = f.label :date
    = f.datetime_select :date
  .actions
    = f.submit 'Save'
